<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_full_pdf_viewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3922A0A0BBA759326D564FCA4104E6919372A1E6</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>72GL8EDUNH</string>
						<key>name</key>
						<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>72GL8EDUNH.com.hztianque.gridUniversity</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:testapple.daliandong.cn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>72GL8EDUNH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c60e973d-8b2e-4eb8-b62e-e7dba35d34c9</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.hztianque.gridUniversity</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>72GL8EDUNH</string>
				<key>name</key>
				<string>Hangzhou Tianque Technology Co., Ltd. (Enterprise)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
